<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<appSettings>
		
		<!--Salesforce.com config-->
		<add key="salesforce-username" value=""/>
		<add key="salesforce-password" value=""/>
		<add key="salesforce-token" value=""/>
		<add key="salesforce-clientid" value=""/>
		<add key="salesforce-clientsecret" value=""/>
	</appSettings>
</configuration>
