<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<appSettings>
		
		<!--Salesforce.com config-->
		<add key="salesforce-username" value="developeraaz@canfga.org"/>
		<add key="salesforce-password" value="Student1023660.0aaz"/>
		<add key="salesforce-token" value="J9sep2oD7uSiWuSPllfnVJ2l"/>
		<add key="salesforce-clientid" value="3MVG9pRzvMkjMb6n64_fFjMCHycn6K92sG9V2MPV7oKmYrPfUap88Lkx3JcaewbnNAZ6zXnHdx3NXJKvsn6bd"/>
		<add key="salesforce-clientsecret" value="8A24186F31C98B53BCE02F858757AC19FB6102B053C0456DA0E0158AD81541F7"/>
	</appSettings>
</configuration>